.nav ul {
list-style:none;
text-align:center;
padding:0;
margin:0;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgb(0, 95, 127);
   color: white;
   Font-size:12px:
   font-family:sans-serif;
   text-align: center;
}
.contacttext {
   font-family:sans-serif;
   color:rgb(0, 95, 127);
}
.textzone {
   width:500px;
   background-color:rgb(0, 95, 127);
}
