<link rel="stylesheet" href="style.css">
head {
padding: 100px;
background-color: rgb(100,50,10);
}
body {
background-color:000000;
  Font-family:sans-serif;
  color:RGB(12,10,100);
  font-size:17px;
}

