<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
I’m a student from Brookline, MA, passionate about American government, finance, and international relations. I attend high school at the Beaver Country Day School, a really amazing school that empowers kids like me to follow their passions. 
    </p>

    <p>
As treasurer of Beaver’s student council, I hone my interests in finance and government by balancing a five figure budget, planning complex events, and navigating administrative and student body priorities. I find myself learning every day.
    </p>

    <p>
I have been pursuing my passion of IR through Model United Nations, where I compete in competitive regional conferences that force me to assume challenging positions (ex: China in the South China Sea), and craft and sell creative solutions. I also serve as captain of Beaver MUN, where I mentor younger delegates in debate, research and networking, and plan lessons and resources. 
    </p>
    
    <p>
In the summer of 2020, I interned on Congressman Jake Auchincloss’s 2020 campaign, where I learned a number of lessons about how truly effective congressional campaigns are run. I ran phone banks, conducted basic research, and assisted in relational organizing, while also learning about different campaign roles. This was really cool. 
    </p>
    
    <p>
This summer I started a website design business and constructed and managed websites for over a dozen people and organizations, ranging from artists to congressional campaigns. Freelancing was tough, yet rewarding.
    </p>
    
    <p>
      When I’m not immersed in a classroom or computer screen, I love to run competitively and volunteer at the Brookline Thrives Program, which provides snack packs in Brookline’s k-12 schools. I run on Beaver’s varsity Cross Country Team, and participate in the winter half marathon training club. There is nothing better than running through the snow on a blue sky day in February. seriously.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
