<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
    </div>
    <div class="bottom">
      <span>Jack Botein</span>
      <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji">
      <span>2021</span>
    </div>
  </div>
  <div class="footer__links">\
    <span><a href="Mailto:Jack@Jackbotein.com">Email</a></span>
    <span><a href="https://www.linkedin.com/in/jack-botein-b5654619a/">Linkedin</a></span>
    <span><a href="https://brittanychiang.com/">Site Theme</a></span>
  </div>
</footer>
