<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Jack Botein</span>, an 11th grade student, and the kind of guy who always has 10+ browser tabs open.
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:Jack@jackbotein.com" target="_blank" class="highlight-link">Jack@jackbotein.com</a>
    </span>
  </h3>
</header>
